<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- vpn管理员 -->
<mapper namespace="com.org.c2y2.mapper.PptpdAdminMapper">

	<!-- 添加 -->
	<insert id="insert"   parameterType="PptpdAdmin"  useGeneratedKeys="true" keyProperty="id"       >
		INSERT INTO pptpd_admin(USERNAME,PASSWORD,STATUS,USERTYPE,MEMO) VALUES (#{username},PASSWORD(#{password}),#{status},#{usertype},#{memo})
	</insert>

	<!-- 按条件查询多条（不分页） -->
	<select id="findByEntity" parameterType="PptpdAdmin" resultType="PptpdAdmin">
		SELECT TAB.ID,TAB.USERNAME,TAB.PASSWORD,TAB.STATUS,USERTYPE,TAB.MEMO
			FROM pptpd_admin TAB
			<where>
				<if test="username!=null and username!='' ">AND TAB.USERNAME = #{username}</if>
				<if test="status!=null">AND TAB.STATUS = #{status}</if>
				<if test="usertype!=null">AND TAB.USERTYPE = #{usertype}</if>
			</where>
		ORDER BY TAB.ID DESC
	</select>
	
	<!-- 检查插入管理员姓名的唯一性 -->
	<select id="checkUserNameUnique" parameterType="string" resultType="int">
		SELECT COUNT(*) FROM pptpd_admin TAB WHERE TAB.USERNAME=${username}
	</select>
	
	<!-- 用于管理员登录(所有管理员) -->
	<select id="pptpdAdminLogin" parameterType="PptpdAdmin" resultType="PptpdAdmin">
		SELECT TAB.ID,TAB.USERNAME,TAB.PASSWORD,TAB.STATUS,USERTYPE,TAB.MEMO
		 FROM pptpd_admin TAB WHERE 
		 TAB.USERNAME =#{username} AND TAB.PASSWORD=PASSWORD(#{password})
	</select>

	<!-- 按ID查询一条 -->
	<select id="findById" parameterType="int" resultType="PptpdAdmin">
		SELECT TAB.ID,TAB.USERNAME,TAB.PASSWORD,TAB.STATUS,USERTYPE,TAB.MEMO
			FROM pptpd_admin TAB WHERE TAB.ID=#{id} ORDER BY TAB.ID DESC
	</select>

	<!-- 按ID删除一条 -->
	<delete id="delete" parameterType="int">
		DELETE FROM pptpd_admin WHERE ID=#{id}
	</delete>

	<!-- 按ID修改 -->
	<update id="update" parameterType="PptpdAdmin">
		UPDATE pptpd_admin TAB
		<set>
			<if test="username!=null and username!='' ">TAB.USERNAME = #{username},</if>
			<if test="status!=null">TAB.STATUS = #{status},</if>
			<if test="usertype!=null">TAB.USERTYPE = #{usertype},</if>
		</set>
		WHERE TAB.ID = #{id}
	</update>


	<!-- 按条件查询多条（分页） -->
	<select id="findByEntityOnPage" parameterType="PptpdAdmin" resultType="PptpdAdmin">
		SELECT TAB.ID,TAB.USERNAME,TAB.PASSWORD,TAB.STATUS,USERTYPE,TAB.MEMO
			FROM pptpd_admin TAB
			<where>
				<if test="username!=null and username!='' ">AND TAB.USERNAME = #{username}</if>
				<if test="status!=null">AND TAB.STATUS = #{status}</if>
				<if test="usertype!=null">AND TAB.USERTYPE = #{usertype}</if>
			</where>
		 ORDER BY TAB.ID DESC
		 LIMIT #{pageStart}, #{pageSize}
	</select>

	<!-- 按条件查询总数（用于分页） -->
	<select id="findByEntityOnPageCount" parameterType="PptpdAdmin" resultType="int">
		SELECT COUNT(1) 
			FROM pptpd_admin TAB
			<where>
				<if test="username!=null and username!='' ">AND TAB.USERNAME = #{username}</if>
				<if test="status!=null">AND TAB.STATUS = #{status}</if>
				<if test="usertype!=null">AND TAB.USERTYPE = #{usertype}</if>
			</where>
	</select>

</mapper>